@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var _doctors = Umbraco.ContentAtRoot().FirstOrDefault().Children().FirstOrDefault(x => x.ContentType.Alias == "doctors");
    var _doctorProfile = _doctors != null ? _doctors.Children(x => x.ContentType.Alias == "profile").OrderByDescending(x => x.CreateDate).Cast<ContentModels.Profile>() : null;
   
}

<!-- ==================Dashboard starts============= -->
    <section class="dashboard-section bkg-gray">
      <div class="container">
        <div class="row align-items-center inner-banner">
          <div class="col-md-12 col-12 text-center">
            <h2 class="breadcrumb-title">Search Doctor 2</h2>
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="Index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Search Doctor 2
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- ==================Dashboard Ends============= -->

    <!-- ==================main content start============= -->
    <section class="space-ptb pt-2 mt-5">
      <div class="doctor-content content">
        <div class="container" id="container">
          <div class="row">
            <div id="map-view">
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 admin-sidebar">
                  <div class="is-sticky">
                    <div class="filter-contents">
                      <div class="filter-header">
                        <h4 class="filter-title">Filter</h4>
                      </div>
                      <div class="filter-details">
                        <div class="filter-grid">
                          <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item border-0">
                              <h2 class="accordion-header" id="gender-headingOne">
                                <button class="accordion-button p-0 bg-white border-0 text-black shadow-none"
                                  type="button" data-bs-toggle="collapse" data-bs-target="#gender-collapseOne"
                                  aria-expanded="true" aria-controls="gender-collapseOne">
                                  Gender
                                </button>
                              </h2>
                              <div id="gender-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="gender-headingOne">
                                <div class="accordion-body p-0">
                                  <div class="filter-collapse">
                                    <ul>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Male
                                          Gender</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Female Gender</label>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="filter-grid">
                          <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item border-0">
                              <h2 class="accordion-header" id="Availability-headingOne">
                                <button class="accordion-button p-0 bg-white border-0 text-black shadow-none"
                                  type="button" data-bs-toggle="collapse" data-bs-target="#Availability-collapseOne"
                                  aria-expanded="true" aria-controls="Availability-collapseOne">
                                  Availability
                                </button>
                              </h2>
                              <div id="Availability-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="Availability-headingOne">
                                <div class="accordion-body p-0">
                                  <div class="filter-collapse">
                                    <ul>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Available Today</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Available Tomorrow</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Available in Next 7 days</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Available in Next 30 days</label>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="filter-grid">
                          <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item border-0">
                              <h2 class="accordion-header" id="Speciality-headingOne">
                                <button class="accordion-button p-0 bg-white border-0 text-black shadow-none"
                                  type="button" data-bs-toggle="collapse" data-bs-target="#Speciality-collapseOne"
                                  aria-expanded="true" aria-controls="Speciality-collapseOne">
                                  Speciality
                                </button>
                              </h2>
                              <div id="Speciality-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="Speciality-headingOne">
                                <div class="accordion-body p-0">
                                  <div class="filter-collapse">
                                    <ul>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Urology</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Opthalmology</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>Cardialogy</label>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="filter-grid">
                          <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item border-0">
                              <h2 class="accordion-header" id="Experience-headingOne">
                                <button class="accordion-button p-0 bg-white border-0 text-black shadow-none"
                                  type="button" data-bs-toggle="collapse" data-bs-target="#Experience-collapseOne"
                                  aria-expanded="true" aria-controls="Experience-collapseOne">
                                  Experience
                                </button>
                              </h2>
                              <div id="Experience-collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="Experience-headingOne">
                                <div class="accordion-body p-0">
                                  <div class="filter-collapse">
                                    <ul>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>1-5
                                          years</label>
                                      </li>
                                      <li>
                                        <label for="" class="custom-check d-inline-flex">
                                          <input type="checkbox" name="gender" id="" />
                                          <span class="checkmark"> </span>5+
                                          years</label>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="filter-btn">
                          <div class="row">
                            <div class="col-6">
                              <div class="login-btn">
                                <a href="#" class="btn w-100">Apply</a>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="register-btn">
                                <a href="#" class="btn w-100">Reset</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-8 col-xl-9 map-left">
                  <div class="row">
                    <div class="doctor-filter-info pb-5">
                      <div class="doctor-filter-inner d-flex justify-content-between align-items-center">
                        <div>
                          <div class="doctors-found">
                            <p>
                              <span>100 doctors found for</span> Dentist in
                              San Fransisco, California
                            </p>
                          </div>
                          <div class="doctor-availability">
                            <p class="d-inline-block text-dark fw-semibold mb-0">
                              Availability
                            </p>

                            <div class="form-switch d-inline-block ps-2">
                              <input type="checkbox" id="switch" />
                              <label for="switch">checkbox</label>
                            </div>
                          </div>
                        </div>
                        <div class="flex-shrink-0">
                          <div class="doctor-filter-option d-flex justify-content-center align-items-center">
                            <div class="doctor-filter-sort">
                              <p class="mb-0 d-inline-block me-1">sort</p>
                              <div class="doctor-filter-select d-inline-block">
                                <select class="select">
                                  <option selected>A to Z</option>
                                  <option>B to Z</option>
                                  <option>C to Z</option>
                                  <option>D to Z</option>
                                  <option>E to Z</option>
                                </select>
                              </div>
                            </div>
                            <div class="doctor-filter-sort">
                              <p class="filter-today d-flex">
                                <i class="fa-regular fa-calendar me-2 mt-1"></i>
                                Today 10 Aug to 20 Aug
                              </p>
                            </div>
                            <div class="doctor-filter-sort">
                              <ul class="nav d-flex">
                                <li id="map-location">
                                  <a>
                                    <i class="fa-solid fa-location-dot"></i>
                                  </a>
                                </li>
                                <li>
                                  <a href="/doctor-search-grid.html">
                                    <i class="fas fa-th-large"></i>
                                  </a>
                                </li>
                                <li class="active">
                                  <a href="/search-doctor-2.html">
                                    <i class="fa-solid fa-list"></i>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="map-list">
                      <div class="card">
                                        
                        @foreach(var item in _doctorProfile)
                        {
                        var uploadImage = item.Value<string>("uploadImage");
                        <div class="card-body">
                          <div class="doctor-widget d-flex">
                            <div class="doc-info-left d-flex">
                              <div class="doctor-img">
                                <a href="/doctor-profile.html">      
                                  <img src="@uploadImage" class="img-fluid" alt="" />
                                </a>
                              </div>
                              <div class="map-left-content">
                                <h3 class="mb-1">
                                  <a href="/doctor-profile.html">@item.Value("firstName") @item.Value("lastName")</a>
                                  <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="fw-normal mb-2">
                                  @item.Value("about")
                                </p>
                                <h5 class="doc-department">
                                  @await Html.GetBlockGridHtmlAsync(item.Specialization)
                                </h5>
                                <div class="rating mb-2">
                                  <i class="fas fa-star filled"></i>
                                  <i class="fas fa-star filled"></i>
                                  <i class="fas fa-star filled"></i>
                                  <i class="fas fa-star filled"> </i>
                                  <i class="fas fa-star"> </i>
                                  <span class="average-rating">(17)</span>
                                </div>
                                <div class="clinical-details">
                                  <p class="doc-location fw-normal">
                                    <i class="fas fa-map-marker-alt me-1"></i>
                                    @item.Value("city"), @item.Value("country")
                                  </p>
                                 @* <ul class="clinic-gallery">
                                    <li>
                                      <a data-fancybox="gallery" data-src="assets/imgs/feature-01.jpg">
                                        <img src="assets/imgs/feature-01.jpg" alt="Feature" />
                                      </a>
                                    </li>
                                    <li>
                                      <a href="assets/imgs/feature-02.jpg" data-fancybox="gallery">
                                        <img src="assets/imgs/feature-02.jpg" alt="Feature" />
                                      </a>
                                    </li>
                                    <li>
                                      <a href="assets/imgs/feature-03.jpg" data-fancybox="gallery">
                                        <img src="assets/imgs/feature-03.jpg" alt="Feature" />
                                      </a>
                                    </li>
                                    <li>
                                      <a href="assets/imgs/feature-04.jpg" data-fancybox="gallery">
                                        <img src="assets/imgs/feature-04.jpg" alt="Feature" />
                                      </a>
                                    </li>
                                  </ul>*@
                                </div>
                                <div class="clinical-services">
                                        @await Html.GetBlockGridHtmlAsync(item.Services)
                                </div>
                              </div>
                            </div>
                            <div class="doc-info-right">
                              <div class="clinic-infos">
                                <div class="map-left-content">
                                  <ul class="available-info mb-4">
                                    <li>
                                      <i class="far fa-thumbs-up"></i> 98%
                                    </li>
                                    <li>
                                      <i class="fas fa-map-marker-alt"></i>
                                      Florida, USA
                                    </li>
                                    <li>
                                      <i class="far fa-clock"></i> Available
                                      on Fri, 22 Mar
                                    </li>
                                    <li>
                                      <i class="far fa-money-bill-alt"></i>
                                      $300 - $1000
                                      <i class="fas fa-info-circle ms-1" title="Lorem Ipsum"></i>
                                    </li>
                                  </ul>
                                  <div class="clinic-booking">
                                    <a href="/doctor-profile.html" class="btn view-btn">View Profile
                                    </a>
                                    <a href="/Booking-1.html" class="btn book-btn">Book Now
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        }
                      </div>
                    </div>
                    <div class="load-more text-center mt-3">
                      <a href="#" class="butn-primary">Load More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="is-sticky map-right grid-list-map" id="map-right" style="height: 100vh">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =======Add Medical Record Modal============= -->