@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Profile >
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
    var _doctors = Umbraco.ContentAtRoot().FirstOrDefault().Children().FirstOrDefault(x => x.ContentType.Alias == "doctors");
    var _doctorProfile = _doctors != null ? _doctors.Children(x => x.ContentType.Alias == "profile").OrderByDescending(x => x.CreateDate) : null;
   
 }
 @if(_doctorProfile != null)
 {
    foreach (var item in _doctorProfile.Take(1))
    {
    var uploadImage = item.Value<string>("uploadImage");
        <h1> @item.Value("title")</h1>
        <p>@item.Value("username")</p>
        <p>@item.Value("firstName")</p>
        <p>@item.Value("lastName")</p>
        <p>@item.Value("email")</p>
        <p>@item.Value("gender")</p>
        <p>@item.Value("phoneNumber")</p>
        <p>@item.Value("dateOfBirth")</p>
        <img src="@uploadImage" alt="">
        <p>@item.Value("about")</p>
        <br><br>
        
        
        <h1> @item.Value("contactTitle")</h1>
        <p>@item.Value("addressLine1")</p>
        <p>@item.Value("addressLine2")</p>
        <p>@item.Value("city")</p>
        <p>@item.Value("state")</p>
        <p>@item.Value("country")</p>
        <p>@item.Value("postalCode")</p>
        
        <br><br>
        @foreach (var items in item.Value<IEnumerable<string>>("doctorsWeekDays"))
                    {
                        <li>@items</li>
                    }
        <p>@item.Value("numbersOfPatient")</p>      
        
   }
   
}  
   
   @await Html.GetBlockGridHtmlAsync(Model.Specialization) 

