@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Profile>
    @using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
    @using Umbraco.Cms.Web.Common.PublishedModels;
    @using Umbraco.Cms.Core.Models;
    @using Umbraco.Cms.Web.Common;
    @using Umbraco.Cms.Core.Models.PublishedContent;
    @using Umbraco.Cms.Core.Models.Blocks;

@{
    var uploadImage = Model.Value<string>("uploadImage");
    var _fancyImages = Model != null ? Model.Value<IEnumerable<IPublishedContent>>("fancyImages") : null;
    var Services = Model.Value<BlockGridModel>("services");
}

@foreach (var item in Services)
{
   <h1>@item.Content.Value("addService")</h1> 
}

<!-- ==================Dashboard starts============= -->
      <section class="dashboard-section bkg-gray">
        <div class="container">
          <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
              <h2 class="breadcrumb-title">Doctor Profile</h2>
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="Index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Doctor Profile
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!-- ==================Dashboard Ends============= -->

            <!-- ==================main content start============= -->
            <section class="space-ptb Doc-profile">
                <div class="container">

                    <div class="map-list">
                        <div class="card">
                            <div class="card-body">
                                <div class="doctor-widget d-flex">
                                    <div class="doc-info-left d-flex">
                                        <div class="doctor-img">
                                            <a href="/doctor-profile.html">
                                                <img src="@uploadImage" class="img-fluid" alt="" />
                                            </a>
                                        </div>
                                        <div class="map-left-content">
                                            <h3 class="mb-1">
                                                <a href="/doctor-profile.html">@Model.Value("firstName")
                                                    @Model.Value("lastName")</a>
                                                <i class="fas fa-check-circle verified"></i>
                                            </h3>
                                            <p class="fw-normal mb-2">
                                                @Model.Value("about")
                                            </p>
                                            <h5 class="doc-department">

                                                @await Html.GetBlockGridHtmlAsync(Model.Specialization)


                                            </h5>
                                            <div class="rating mb-2">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"> </i>
                                                <i class="fas fa-star"> </i>
                                                <span class="average-rating">(17)</span>
                                            </div>
                                            <div class="clinical-details">
                                                <p class="doc-location fw-normal">
                                                    <i class="fas fa-map-marker-alt me-1"></i>
                                                    @Model.Value("city"), @Model.Value("country") -
                                                    <a href="@Model.Value("directionLink")">@Model.Value("directionText")</a>
                                                </p>
                                                <ul class="clinic-gallery">
                                                    @foreach (var fancyimage in _fancyImages)
                                                    {
                                                    <li>
                                                        <a data-fancybox="gallery"
                                                            data-src="@(fancyimage != null ? fancyimage.Url() : "")">
                                                            <img src="@(fancyimage != null ? fancyimage.Url() : "")"
                                                                alt="">
                                                        </a>
                                                    </li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="clinical-services">
                                                @await Html.GetBlockGridHtmlAsync(Model.Services)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doc-info-right d-flex">
                                        <div class="clinic-infos">
                                            <div class="map-left-content">
                                                <ul class="available-info mb-3">
                                                    <li><i class="far fa-thumbs-up"></i> 98%</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i> Florida, USA
                                                    </li>
                                                    <li>
                                                        <i class="bx bx-message-rounded"></i> 35 Feedback
                                                    </li>
                                                    <li>
                                                        <i class="far fa-money-bill-alt"></i> $100 per hour
                                                    </li>
                                                </ul>
                                                <ul class="doctor-action mb-3 d-flex align-items-center flex-wrap">
                                                    <li>
                                                        <a href="#" class="btn btn-white fav-btn">
                                                            <i class="fa-regular fa-bookmark"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/chat.html" class="btn btn-white msg-btn">
                                                            <i class="fa-regular fa-message"></i>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="clinic-booking">
                                                    <a href="/Booking-1.html" class="btn book-btn">
                                                        Book Now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body p-4 pt-0">
                                <nav class="Account-tab mb-4">
                                    <ul class="nav nav-tabs nav-justified nav-tabs-bottom my-2 flex-wrap"
                                        role="tablist">
                                        <li class="nav-item" id="upcomming" role="presentation">
                                            <a href="#upcomming-appointments"
                                                class="nav-link Upcoming-Active">Overview</a>
                                        </li>
                                        <li class="nav-item" id="today">
                                            <a href="#today-appointments" class="nav-link Today-Active">Location</a>
                                        </li>
                                        <li class="nav-item" id="Medical-Records">
                                            <a href="#Record-details" class="nav-link Today-Active">Reviews</a>
                                        </li>
                                        <li class="nav-item active" id="Billing">
                                            <a href="#Billing-Records" class="nav-link Today-Active">Business Hours</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="tab-content pt-0">
                                    <div class="tab-panel" id="upcomming-appointments">
                                        <!-- =====Doctor Overview======== -->
                            <div class="row">
                                <div class="col-md-12 col-lg-9">
                                    <div class="Overview">
                                        <div class="about-widget mb-4">
                                            <h4 class="widget-title">@Model.Value("aboutTitle")</h4>
                                            <p>
                                                @Model.Value("aboutSummary")
                                            </p>
                                        </div>
                                        <div class="widget-education mb-4">
                                            <h4 class="eidget-title">Education</h4>
                                            <div class="experience-box">
                                                <ul class="experience-list">
                                                    @await Html.GetBlockGridHtmlAsync(Model.OverviewEducation)
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="widget-experience mb-4">
                                            <h4 class="eidget-title">Work & Experience</h4>
                                            <div class="experience-box">
                                                <ul class="experience-list">
                                                    @await Html.GetBlockGridHtmlAsync(Model.OverviewExperience)
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="widget-Awards mb-4">
                                            <h4 class="eidget-title">Awards</h4>
                                            <div class="experience-box">
                                                <ul class="experience-list">
                                                    @await Html.GetBlockGridHtmlAsync(Model.OverviewAwards)
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="services">
                                            <div class="service-list mb-4">
                                                <h4 class="service-title">Services</h4>
                                                <ul>
                                                    @await Html.GetBlockGridHtmlAsync(Model.OverviewServices)
                                                </ul>
                                            </div>
                                            <div class="service-list">
                                                <h4 class="service-title">Specializations</h4>
                                                <ul>
                                                    @await Html.GetBlockGridHtmlAsync(Model.OverviewSpecializations)
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                    <div class="tab-panel" id="today-appointments">
                                        <!-- =========Doctor Location ========= -->
                                    @await Html.GetBlockGridHtmlAsync(Model.Locations)
                                    </div>
                                    <div class="tab-panel" id="Record-details">
                                        <!-- ==========Doctor REviews========= -->
                                        <div class="doc-review m-0">
                                            <ul class="comment-list m-0 p-0 list-unstyled">
                                                <li class="card">
                                                    <div class="comment card-body d-flex">
                                                        <img src="/assets/imgs/client-03.jpg" alt=""
                                                            class="avatar rounded-circle" />
                                                        <div class="comment-body ms-3 mb-3">
                                                            <div class="author-detail mt-1 mb-2">
                                                                <h5 class="mb-0">Richard Wilson</h5>
                                                                <span class="comment-date text-muted fw-normal">
                                                                    Reviewed 2 days ago
                                                                </span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <div class="recommended">
                                                                <i class="far fa-thumbs-up"></i>
                                                                <span>I recommend the Doctor</span>
                                                            </div>
                                                            <p class="comment-content text-muted fw-normal my-3">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut
                                                                enim ad minim veniam, quis nostrud exercitation.
                                                                Curabitur non nulla sit amet nisl tempus
                                                            </p>
                                                            <div class="comment-reply">
                                                                <a href="#" class="comment-btn">
                                                                    <i class="fas fa-reply"></i>
                                                                    Reply
                                                                </a>
                                                                <div class="recommended-btns">
                                                                    <span
                                                                        class="comment-date text-muted fw-normal">Recommended?</span>
                                                                    <a href="#" class="like-btn">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                        Yes
                                                                    </a>
                                                                    <a href="#" class="dislike-btn">
                                                                        <i class="far fa-thumbs-down"></i>
                                                                        No
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="comment-reply-body m-0 p-0 list-unstyled">
                                                        <li>
                                                            <div class="comment card-body d-flex">
                                                                <img src="/assets/imgs/doctor-thumb-02.jpg" alt=""
                                                                    class="avatar rounded-circle" />
                                                                <div class="comment-body ms-3">
                                                                    <div class="author-detail mt-1 mb-2">
                                                                        <h5 class="mb-0">Darren Elder</h5>
                                                                        <span class="comment-date text-muted fw-normal">
                                                                            Reviewed 2 days ago
                                                                        </span>
                                                                    </div>
                                                                    <p
                                                                        class="comment-content text-muted fw-normal my-3">
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                        adipisicing elit, sed do eiusmod tempor
                                                                        incididunt ut labore et dolore magna aliqua.
                                                                        Ut enim ad minim veniam, quis nostrud
                                                                        exercitation. Curabitur non nulla sit amet
                                                                        nisl tempus
                                                                    </p>
                                                                    <div class="comment-reply">
                                                                        <a href="#" class="comment-btn">
                                                                            <i class="fas fa-reply"></i>
                                                                            Reply
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="card">
                                                    <div class="comment card-body d-flex">
                                                        <img src="/assets/imgs/client-02.jpg" alt=""
                                                            class="avatar rounded-circle" />
                                                        <div class="comment-body ms-3 mb-3">
                                                            <div class="author-detail mt-1 mb-2">
                                                                <h5 class="mb-0">John Doe</h5>
                                                                <span class="comment-date text-muted fw-normal">
                                                                    Reviewed 2 days ago
                                                                </span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <p class="comment-content text-muted fw-normal my-3">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut
                                                                enim ad minim veniam, quis nostrud exercitation.
                                                                Curabitur non nulla sit amet nisl tempus
                                                            </p>
                                                            <div class="comment-reply">
                                                                <a href="#" class="comment-btn">
                                                                    <i class="fas fa-reply"></i>
                                                                    Reply
                                                                </a>
                                                                <div class="recommended-btns">
                                                                    <span
                                                                        class="comment-date text-muted fw-normal">Recommended?</span>
                                                                    <a href="#" class="like-btn">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                        Yes
                                                                    </a>
                                                                    <a href="#" class="dislike-btn">
                                                                        <i class="far fa-thumbs-down"></i>
                                                                        No
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="card">
                                                    <div class="comment card-body d-flex">
                                                        <img src="/assets/imgs/client-04.jpg" alt=""
                                                            class="avatar rounded-circle" />
                                                        <div class="comment-body ms-3 mb-3">
                                                            <div class="author-detail mt-1 mb-2">
                                                                <h5 class="mb-0">John Doe</h5>
                                                                <span class="comment-date text-muted fw-normal">
                                                                    Reviewed 2 days ago
                                                                </span>
                                                                <div class="rating">
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                    <i class="fas fa-star filled"></i>
                                                                </div>
                                                            </div>
                                                            <div class="recommended">
                                                                <i class="far fa-thumbs-up"></i>
                                                                <span>I recommend the Doctor</span>
                                                            </div>
                                                            <p class="comment-content text-muted fw-normal my-3">
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua. Ut
                                                                enim ad minim veniam, quis nostrud exercitation.
                                                                Curabitur non nulla sit amet nisl tempus
                                                            </p>
                                                            <div class="comment-reply">
                                                                <a href="#" class="comment-btn">
                                                                    <i class="fas fa-reply"></i>
                                                                    Reply
                                                                </a>
                                                                <div class="recommended-btns">
                                                                    <span
                                                                        class="comment-date text-muted fw-normal">Recommended?</span>
                                                                    <a href="#" class="like-btn">
                                                                        <i class="far fa-thumbs-up"></i>
                                                                        Yes
                                                                    </a>
                                                                    <a href="#" class="dislike-btn">
                                                                        <i class="far fa-thumbs-down"></i>
                                                                        No
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div class="text-center my-5">
                                                <a href="#" class="butn-primary py-2 px-3">
                                                    <small>
                                                        Show all feedback <strong>(167)</strong>
                                                    </small>
                                                </a>
                                            </div>
                                            <!-- ==review==== -->
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="write-review">
                                                        <h4 class="mb-3">
                                                            Write a review for
                                                            <strong>Dr. Darren Elder</strong>
                                                        </h4>
                                                        <form action="">
                                                            <div class="mb-3">
                                                                <label for="" class="mb-2 review">
                                                                    Review
                                                                </label>
                                                                <div class="star-rating">
                                                                    <input id="star-5" type="radio" name="rating"
                                                                        value="star-5" />
                                                                    <label for="star-5" title="5 stars">
                                                                        <i class="active fa fa-star"></i>
                                                                    </label>
                                                                    <input id="star-4" type="radio" name="rating"
                                                                        value="star-4" />
                                                                    <label for="star-4" title="4 stars">
                                                                        <i class="active fa fa-star"></i>
                                                                    </label>
                                                                    <input id="star-3" type="radio" name="rating"
                                                                        value="star-3" />
                                                                    <label for="star-3" title="3 stars">
                                                                        <i class="active fa fa-star"></i>
                                                                    </label>
                                                                    <input id="star-2" type="radio" name="rating"
                                                                        value="star-2" />
                                                                    <label for="star-2" title="2 stars">
                                                                        <i class="active fa fa-star"></i>
                                                                    </label>
                                                                    <input id="star-1" type="radio" name="rating"
                                                                        value="star-1" />
                                                                    <label for="star-1" title="1 star">
                                                                        <i class="active fa fa-star"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="" class="mb-2 review">
                                                                    Title of your review
                                                                </label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="If you could say it in one sentence, what would you say?" />
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="mb-2 review">Your review</label>
                                                                <textarea id="review_desc" maxlength="100"
                                                                    class="form-control"></textarea>
                                                                <div class="d-flex justify-content-between mt-3">
                                                                    <small class="text-muted">
                                                                        <span id="chars">100</span> words
                                                                        remaining
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="mb-3">
                                                                <div class="terms-accept">
                                                                    <div class="custom-checkbox">
                                                                        <input type="checkbox" id="terms_accept" />
                                                                        <label for="terms_accept" class="review">
                                                                            I have read and accept
                                                                            <a href="#">Terms &amp; Conditions</a>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mt-4">
                                                                <a href="#" class="butn-primary">
                                                                    Add Review
                                                                </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-panel active" id="Billing-Records">
                                        <!-- ========Doctor Business Hours========== -->
                                        <div class="business-hours">
                                            <div class="row">
                                                <div class="col-md-6 offset-md-3">
                                                    <div class="widget-business">
                                                        <div class="listing-hours">
                                                            <div class="listing-day current">
                                                                <div class="day">
                                                                    Today <span>5 Nov 2023</span>
                                                                </div>
                                                                <div class="time-items text-end">
                                                                    <span class="open-status mb-2">
                                                                        <span class="badge bg-success-light">
                                                                            Open Now
                                                                        </span>
                                                                    </span>
                                                                    <span class="time">07:00 AM - 09:00 PM</span>
                                                                </div>
                                                            </div>
                                                            @await Html.GetBlockGridHtmlAsync(Model.DoctorsTimeSlot)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==================main content Ends============= -->